body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ebeff5;
}

/*------------------ Menu Navbar -----------------*/
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/*----------------- Login Page --------------*/
.login_body {
    /* background: #7abecc !important; */
    background: rgb(233, 236, 239);
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    /* background: #74cfbf; */
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

#form-title {
    color: #fff;
}

.login_btn {
    width: 100%;
    background: #136FFE !important;
    color: white !important;
    padding: 10px 0;
}

.login_btn:focus {
    box-shadow: 2px !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #aea391 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: 2px !important;
    outline: 0px !important;
}

.messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

/*------- Dashboard -----------*/
.hello-msg {
    font-size: 1rem;
    color: #fff;
    margin-right: 20px;
}

#total-orders {
    background-color: #4cb4c7;
}

#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7cd1c0;
}

/*------- Error Messages -----------*/
.error-field ul.errorlist:first-child {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
}

.my-filter label {
    margin-right: 10px;
}

.my-filter input[type="text"],
.my-filter select {
    margin-right: 20px;
}

/* Nav menu */
.dropdown-menu .nav-link {
    color: rgba(255, 255, 255, .5) !important;
}
.dropdown-menu .nav-link:hover {
	color: #fff !important;
}

/* Nav menu active style */
ul.dropdown-menu li.nav-item a.active {
    color: white !important;
}

/* List table */
.card-body table tr td {
    vertical-align: middle;
}
/* Pagination style */
.pagination {
    margin: 20px auto;
}
.pagination .active {
    background-color: #007bff;
    color: white;
}
.page-link:focus {
    box-shadow: none !important;
}
.page-item .page-link {
    color: #007bff !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.pagination .page-item:first-child .page-link {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}
.pagination > .page-item:last-child .page-link {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

/* Product detail page */
.color-circle {
    width: 40px;
    height: 40px;
}
.form-control.is-invalid ~ .invalid-feedback {
    position: absolute;
}