{% extends 'layouts/main.html' %}

{% block content %}

    <h3 class="mt-5 pb-3 text-center">Hello {{ request.user.full_name }}! Welcome To Booking Administration</h3>
    <hr>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="total-orders">
                    <div class="card-header">
                        <h5 class="card-title">Total Users</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ users }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-delivered">
                    <div class="card-header">
                        <h5 class="card-title">Total Service Providers</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ sellers }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-pending">
                    <div class="card-header">
                        <h5 class="card-title">Total Products</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ products }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <h5 class="pl-2 font-weight-bold">POPULAR SELLERS:</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-lg">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Bookings</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seller in popular_sellers %}
                        <tr>
                            <td>{{ seller.name }}</td>
                            <td>{{ seller.description }}</td>
                            <td>{{ seller.bookings|length }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <h5 class="pl-2 font-weight-bold">POPULAR PRODUCTS</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-lg">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for product in popular_products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}