{% extends 'layouts/main.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md">
                <div class="card text-center">
                    <div class="card-header">
                        <h6>Are you sure you want to cancel this order?</h6>
                    </div>
                    <div class="card-body">
                        
                        <form action="" method="POST">
                            {% csrf_token %}
    
                            <a class="btn btn-warning mr-3" href="{% url 'order-list' %}">Cancel</a>
    
                            <button class="btn btn-danger" type="submit">Confirm</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}